/* INTER FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

/*  color-variables */
:root {
    --color-hover: rgb(37, 99, 235);
    --color-text: rgb(75, 85, 99);
    --color-bg: rgb(255, 255, 255);
    --color-title: rgb(37, 99, 235);
    --color-heading: rgb(17, 24, 39);
    --color-bg-hover: rgb(12, 76, 213);
    --color-light-hover: rgb(78, 130, 243);
    --color-light-bg: rgb(239, 246, 255);

    --transition: all 400ms;
}

/* Basic styling for the body */
body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* Container to center content */
.container {
    inline-size: 95%;
    max-inline-size: 1200px;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 3rem 0;
}

img {
    inline-size: 100%;
    object-fit: cover;
    overflow: hidden;
}

p {
    color: var(--color-text);
}