/* ====== GENERAL STYLING ======= */
:root {
    --color-primary: #F7F6F8;
    --color-secondary: #DADAE2;
    --color-button: #4E46B4;
    --color-title: #413A96;
    --color-heading: #19191F;
    --color-text: #3F3F43;
    --transition: all 400ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
    inline-size: .5rem;
}

::-webkit-scrollbar-track {
    background: rgb(50, 26, 67);
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #4b3ca6;
    border-radius: .7rem;
    border: 2px solid #4919967d;
}

/* Style the scrollbar when hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: #550fcf;
}

body {
    font-family: "Inter", serif;
    line-height: 1.7;
    background: #fff;
}

section {
    padding: 5rem 0;
}

li a {
    color: var(--color-primary);
    transition: var(--transition);
    font: bold;
}

a:hover {
    color: #fff;
}

img {
    inline-size: 100%;
    object-fit: cover;
}

/* ====== NAVIGATION ======= */
header {
    inline-size: 100vw;
    block-size: 4rem;
    display: grid;
    place-items: center;
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 2;
    align-items: center;
}
